header {
    color: aliceblue;
    background-color: navy;
    padding: 1em;
}

aside {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
    height: 100%;
}

section {
    margin-left: 200px;
    border-left: 0.1em solid black;
    padding: 0.4em;
}

a {
    width: 8em;
    color: aliceblue;
    background-color: rgb(3, 151, 67);
    padding: 0em 0.6em 0.5em 0.6em ;
}

a.active {
    background-color: rgb(51, 198, 181);
    box-shadow: 1em;
}

ul {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

footer {
    color: aliceblue;
    background-color: navy;
    padding: 0.3em;
}