header {
    color: aliceblue;
    background-color: #03624c;
    padding: 0.3em;

}

aside {
    float: left;
    width: 7em;
    margin: 0;
    padding: 1em;
    height: 100%;
}

a {
    text-decoration: none;
    float: left;
    width: 8em;
    color: #00df82;
    background-color: #1e281e;
    padding:0.3em 0.6em;
    border-right: 1px solid lightgray;
}

a.active {
    color:#030f0f;
    background-color: #00df82;
    box-shadow: 5px;
}

ul {
    width: 100%;
    float: right;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

.almenu {
    width: 100%;
    float: right;
    padding: 0;
    margin: 0;
}

.almenu li {
    display: inline-block;
}

.almenu li {
    text-decoration: none;
    float: left;
    width: 8em;
    color: aliceblue;
    background-color: rgb(3, 151, 67);
    padding: 0.3em 0.6em;
    border-right: 1px solid lightgray;
    cursor: pointer;
    text-align: center;
}

.almenu li:hover {
    background-color: #00df82;
}

footer {
    color: aliceblue;
    background-color: #03624c;
    padding: 0.3em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

h1.főcím{
    margin-top: 1.5em;
}

html, body {
    margin: 0;
}

.div-content {
    margin-left: 9.2em;
    border-left: 0.1em solid darkslategray;
    padding: 0.4em;
    min-height: 84vh;
    box-sizing: border-box;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.number-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.draggable {
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    cursor: grab;
    text-align: center;
    width: 50px;
}

.dropzone {
    width: 150px;
    min-height: 200px;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

.menu-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.menu-column {
    width: 30%;
    text-align: center;
}

.menu-column h2 {
    font-size: 20px;
    color: #03624c;
    margin-bottom: 10px;
}

.selector select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #03624c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #028f67;
}

h3 {
    font-size: 20px;
    color: #03624c;
    margin-top: 20px;
}

.menus {
    margin-top: 25px;
}

.össz {
    display: flex;
    justify-content: center;
}

.vég {
    display: flex;
    justify-content: center;
}